<section class="SectionSignIn">
    <form class="FormSignIn">
        <label>LOGIN</label>
        <div class="DivSignIn">
            <input type="text" id="emailEmail" [(ngModel)]="_modelUserLogin.email" name="email" placeholder="Email">
        </div>
        <div class="DivSignIn">
            <input type="password" id="passwordPassword" [(ngModel)]="_modelUserLogin.password" name="password" placeholder="Password">
        </div>
        <div class="DivSignIn">
            <input type="button" id="buttonSignIn" value="Sign In" (click)="onClick(this)" (click)="showLoading()">
        </div>
    </form>
    <section>
        <div id="divLoadingMessage" *ngIf="_booleanIsLoading">
            <img id="imageLoadingCircle" src="../../assets/icons/icon_loading.svg">
        </div>
    </section>
</section>