<section class="SectionSignIn">
    <header>
        <label>LOGIN</label>
    </header>
    <form class="FormSignIn">
        <h3>Sign In</h3>
        <div class="DivSignIn">
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="_modelUserLogin.email" name="username">
        </div>
        <div class="DivSignIn">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="_modelUserLogin.password" name="password">
        </div>
        <div class="DivSignIn">
            <input type="button" id="buttonSignIn" value="Sign In" (click)="onClick(this)">
        </div>
    </form>
</section>