<header class="HeaderNavBar">
    <ul style="display: flex; justify-content: space-around; list-style-type: none; padding: 20px;">
        <li><a routerLink="/listuser">List User</a></li>
        <li><a routerLink="/form">Form</a></li>
        <li><a routerLink="/token">Service Token</a></li>
        <li><a routerLink="/currency">Currency</a></li>
        <li><a routerLink="/signin">Sign Out</a></li>
    </ul>
</header>
<section>
    <svg>
        <text x="37%" y="70%">
            WELCOME
        </text>
    </svg>
</section>