<section class="SectionCurrency">
    <header>
        <label>CURRENCY</label>
    </header>
    <form class="FormCurrency">
        <div class="DivFormCurrency">
            <input type="text" id="stringNum1" name="stringNum1"
                [ngModel]="_stringNum1 | customcurrency" (ngModelChange)="_stringNum1 = $event"
                oninput="this.value = this.value.replace(_stringRegexNumberRange)">
        </div>
        <div class="DivFormCurrency">
            <input type="text" id="stringNum2" name="stringNum2"
                [ngModel]="_stringNum2 | customcurrency" (ngModelChange)="_stringNum2 = $event"
                oninput="this.value = this.value.replace(_stringRegexNumberRange)">
        </div>
        <div class="DivFormCurrency">
            <input type="button" id="buttonCalculate " value="Calculate" (click)="onCalculate()">
        </div>
        <div class="DivFormCurrency">
            <label for="numberResult">{{_numberResult | customcurrency}}</label>
        </div>
    </form>
</section>