@import librarydimas

@keyframes anim
    from
        stroke-dasharray: 0 70%
    to
        stroke-dasharray: 50% 0
        stroke-dashoffset: 10%

@include generateKeyFrames($stringAnimationName: animationSpin)
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@include generateKeyFrames($stringAnimationName: animationZoom)
    0%
        transform: scale(1, 1)
    50%
        transform: scale(1.1, 1.1)
    100%
        transform: scale(1, 1)