<section style="display: flex; flex-direction: column;
justify-content: ceneter; align-items: center; height: 100vh; margin: auto;">
    <header>
        <label>List User</label>
    </header>
    <table style="background-color: rgb(255, 255, 255);
    width: 70%; border-radius: 10px;">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>dim@gmail.com</td>
            <td>dimas</td>
            <td>dandy</td>
        </tr>
        <tr>
            <td>dim@gmail.com</td>
            <td>dimas</td>
            <td>dandy</td>
        </tr>
        <!-- <tr *ngFor=" let list of _arrayListUser; let i=index ">
            <td *ngIf="i<10 ">{{list.id}}</td>
            <td *ngIf="i<10 ">{{list.email}}</td>
        </tr> -->
    </table>
</section>