<section class="SectionDataListUser">
    <header>
        <h3>Permohonan</h3>
        <span>Asuransi</span>
    </header>
    <section class="SectionParentDataListUser">
        <section id="sectionSearchDataListUser">
            <form>
                <fieldset>
                    <legend></legend>
                    <h2>Pencarian</h2>
                    <label>Jenis Produk</label>
                    <div id="divParentRadioButtonJenisProduk">
                        <div id="divRadioButtonProduk">
                            <input type="radio" id="radioRumahku" name="radioJenisProduk">
                            <label for="radioRumahku">Rumahku</label>
                        </div>
                        <div id="divRadioButtonProduk">
                            <input type="radio" id="radioKtu" name="radioJenisProduk">
                            <label for="radioKtu">KTU</label>
                        </div>
                    </div>
                    <div id="divSelectTipeStatus">
                        <label>Tipe</label>
                        <select name="cars" id="cars">
                            <option value="volvo"> Volvo</option>
                            <option value="saab"> Saab</option>
                        </select>
                    </div>
                    <div id="divDate">
                        <label for="datePermohonan">Tanggal Permohonan</label>
                        <input type="date" id="datePermohonan" name="datePermohonan">
                    </div>
                    <div id="divSelectTipeStatus">
                        <label>Status</label>
                        <select name="cars" id="cars">
                            <option value="volvo"> Volvo</option>v
                            <option value="saab"> Saab</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <div id="divButtonTambahData">
                <input type="button" id="buttonTambahData" name="buttonTambahData" value="Tambah Data" routerLink="/form">
            </div>
        </section>
        <section id="sectionTableDataListUser">
            <div id="divHeaderTableDataListUser">
                <div id="divHeaderTableLeftSide">
                    <input type="button" id="buttonFirstPage">
                    <input type="button" id="buttonPreviousPage" (click)="callPreviousPage()">
                    <label>{{_numberPage}}</label>
                    <input type="button" id="buttonNextPage" (click)="callNextPage()">
                    <input type="button" id="buttonLastPage">
                </div>
                <div id="divHeaderTableRightSide">
                    <label>Baris per halaman</label>
                    <select name="perPage" id="perPage" [(ngModel)]="_numberPerPage" (change)="callChangePerPage()">
                        <option value="5">5</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                </tr>
                <tr *ngFor=" let data of _arrayDataUser">
                    <td>{{data.id}}</td>
                    <td>{{data.first_name}} {{data.last_name}}</td>
                    <td>{{data.email}}</td>
                </tr>
            </table>
        </section>
    </section>
</section>